.chessboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

/* Styling for dark squares */
.dark {
  width: 100px;
  height: 100px;
  background-color: #965656; /* Change the color to your preference */
}

/* Styling for light squares */
.light {
  width: 100px;
  height: 100px;
  background-color: #eeeed2; /* Change the color to your preference */
}
