.chess-square {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colors for alternating squares */
.white {
    background-color: #d0d0b2;
}

.black {
    background-color: #965656;
}

.highlighted {
    background-color: #79c036;
    opacity: 0.5;
}