.chessboard {
  display: flex;
  flex-direction: column;
  background-color: #6a5b48;

}

.row {
  display: flex;
}

.black {
  width: 110px;
  height: 110px;
  background-color: #965656;
}

.white {
  width: 110px;
  height: 110px;
  background-color: #eeeed2;
}
