/* styles.css */
.chessboard {
  width: 1200px;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.row {
  display: flex;
}

.square {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: #769656;
}

.light {
  background-color: #eed09e;
}

.piece {
  /* Add styles for chess pieces if needed */
  color: #000;
  font-size: 24px;
}
